.box-box {
    display: flex;
    flex-wrap: wrap;
}
.box1 {
    background: rgb(251,165,250);
    background: linear-gradient(0deg, rgba(251,165,250,1) 0%, rgba(156,38,244,1) 100%);
    width: 550px;
    height: 200px;
    margin: 120px 50px;
    display: flex;
}
img {
    width: 200px;
    height: 300px;
    display: block;
    position: relative;
    bottom: 100px;
}
.text {
    
    font-family: 'Droid Serif', Georgia, Times, serif;
    font-size: 20px;
    line-height: 15px;
    color: snow;
}
.box2 {
    background: rgb(32,2,5);
    background: linear-gradient(0deg, rgba(32,2,5,1) 0%, rgba(255,14,14,1) 100%);
    width: 550px;
    height: 200px;
    margin: 120px 50px;
    display: flex;
}
.img2 {
    width: 200px;
    height: 300px;
    display: block;
    position: relative;
    bottom: 100px;
}
.text2 {
    font-family: 'Droid Serif', Georgia, Times, serif;
    font-size: 15px;
    line-height: 15px;
    color: snow;
}
.box3 {
    background: rgb(32,2,5);
    background: linear-gradient(0deg, rgba(32,2,5,1) 0%, rgba(14,255,80,1) 100%);
    width: 550px;
    height: 200px;
    margin: 120px 50px;
    display: flex;
}
.img3 {
    width: 260px;
    height: 310px;
    display: block;
    position: relative;
    bottom: 100px;
}
.text3 {
    font-family: 'Droid Serif', Georgia, Times, serif;
    font-size: 20px;
    line-height: 15px;
    color: snow;
}
.box4 {
    background: rgb(32,2,5);
    background: linear-gradient(0deg, rgba(32,2,5,1) 0%, rgba(255,14,14,1) 100%);
    width: 550px;
    height: 200px;
    margin: 120px 50px; 
    display: flex;
    
}
.img4 {
    width: 300px;
    height: 300px;
    display: block;
    position: relative;
    bottom: 100px;
}
.text4 {
    font-family: 'Droid Serif', Georgia, Times, serif;
    font-size: 20px;
    line-height: 15px;
    color: snow;
}

